<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:fragment="headerfiles">
    <title>GoodExchange app</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link th:href="@{~/fontawesome/css/all.css}" rel="stylesheet">
</head>
<body>

<div th:fragment="nav">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">GoodExchange</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{~/index}"><i class="fa fa-home"></i>Home</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" href="#" th:href="@{~/profile/index}">Profile</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" form-method="post" th:action="@{/logout}">
                <button sec:authorize="isAuthenticated()" class="btn btn-outline-danger my-2 my-sm-0 btn-sm"
                        type="submit">Logout
                </button>
                <button sec:authorize="isAnonymous()" th:href="@{~/login}" name="btn_login"
                        class="btn btn-outline-info my-2 my-sm-0 btn-sm" type="submit">Login
                </button>
                <button sec:authorize="isAnonymous()" th:formaction="register" name="btn_register"
                        class="btn btn-outline-info my-2 my-sm-0 btn-sm" type="submit">Register
                </button>
            </form>
        </div>
    </nav>
</div>
</body>
</html>
